.image-container {
  position: relative;
}

.image-container .btn {
  position: absolute;
  top: 90%;
  left: 2%;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  /* background-color: #555; */
  /* color: white; */
  /* font-size: 16px; */
  /* padding: 12px 24px; */
  border: none;
  cursor: default !important;
  /* border-radius: 5px; */
}

.btnComment {
  position: absolute;
  top: 90%;
  left: 2%;
  border: none;
  cursor: pointer !important;
}
